
*{
    margin: 0px;
    padding: 0px;
    border:0px;
    box-sizing:border-box;
}
header, section, footer, aside, nav, article, figure, figcaption,
hgroup{
    display: block;
}
body{
    text-align:center;
}

#agrupar{
    width: 80%;
    margin: 15px auto;
    text-align:left;
    
}


#cabecera{
    width:100% ;
    height:64px;
    border: 1px solid #999999;
    background:#FFBB90;
    text-align:center;
     padding-top:5px;
}

#menu{
    background:#CCCCCC;
    border:0.5px solid #999999; 
    padding:5px ;
}

#menu li{
    display: inline-block;
    list-style:none;
    padding: 20px;
    font-size: 18px;
}

#seccion{
    width:70%;
    margin:20px 1% ;
    float:left;
    border: 1px solid #999999;

}

#columna{
    float:left;
    width:26%;
    margin:20px 1%;
    border: 1px solid #999999;
    padding:20px;

}

#pie{
    clear:both;
    text-align:center;
    border:1px solid #999999;
    padding:10px;

}

article{
    background:#dddddd;
    border:1px solid #999999;
    padding:5px 10px;
    margin-bottom:15px;
    
}

article header{
    text-align:center;
    margin-bottom:10px;
    padding:5px;
}

article footer{
    text-align:right;
}
article header h1{
    font-size:26px;
    padding:2px;
}

article header h2{
    font-size:18px;
    padding:2px;
}

time{

}

