* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Arial', 'Helvetica', sans-serif;
}

#main-header nav ul {
  /*w100vw*/
  width: 100vw;
  /*h64*/
  height: 64px;

  /*df*/
  display: flex;
  /*jc*/
  justify-content: space-evenly;
  /*aic*/
  align-items: center;
}

main > .container > * {
  float: left;
}

main > .container > aside {
  /*w25p*/
  width: 25%;
}

main > .container > .main-content {
  /*w75p*/
  width: 75%;
}



/* post-preview */

#home {
  position: relative;
  display: block;
}
.post-preview {
  /*w33.333p*/
  width: 33.333%;

  height: 300px;
  /*fl*/
  float: left;

  position: relative;

}

.post-preview > * {
  /*posa*/
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  width: 90%;
  height: 90%;
}


.post-preview .text {
  /*height: 100%;*/
  display: flex;
  /*fdc*/
  flex-direction: column;
  text-align: center;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;

  padding: 32px;

  background-color: rgba(255,255,255,0.85);

  transition: opacity 0.3s ease-in-out;
}


.post-preview .text {
  opacity: 0;
}


.post-preview:hover .text {
  opacity: 1;
}
