#cover-background-mobile {
  display: none;
}


#cover-background-tablet {
  display: block;

  width: 100%;
  height: 100%;

  /* background: url(http://unsplash.it/1200/700);
  background-size: cover; */
}


#home-cover {
  /* posr */
  position: relative;
}

#cover-background-tablet {
  /* posa */
  position: absolute;
  top: 0;
  left: 0;
  /* z-1 */
  z-index: -1;
}


#home-cover .title-container {
  width: 100%;
  height: 100%;
  color: #fff;
}
