@media screen and (min-width: 768px) {

  #site-logo {
    width: 15%;
  }



  #main-menu  {
    /* dib */
    display: inline-block;
    /* w75p */
    width: 70%;
  }

  #main-menu ul {

    display: flex;
    /* flex-direction: row; */

    justify-content: space-evenly;

  }


  #main-menu,
  #main-menu * /* otra opcion posible, mas corta */
  /*
  #main-menu ul,
  #main-menu li,
  #main-menu a,
  */
  {
    height: 100%;
  }

  #main-menu li {
    width: 10rem;
  }


  /* esta regla se añade para que el link crezca al 100% de altura */
  #main-menu a {
    display: flex;
    /* jcc */
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }


  #header-action-icons {
    /* ml0 */
    margin-left: 0;
    width: 15%;
  }
  #header-action-icons .action-icon {
    /* w100p */
    width: 100%;
  }

  /*
  seleccionamos primero por clase, luego por Id, debido a temas de especificidad de selectores
  */
  .action-icon#menu-action-button {
    display: none;
  }

  /*
  alternativa no recomendada:
  #menu-action-button {
    display: none !important;
  }
  */

}
