
#main-header {
  /* w100p */
  width: 100%;

  /* h48 */
  height: 4rem;

}

#site-logo {
  /* w30p */
  width: 30%;
  height: 100%;

}


#site-logo img {
  /* w100p */
  width: 100%;
  /* h100p */
  height: 48px;
}


#main-menu {
  /* dn   */
  display: none;
}


/* ALTERNATIVA 1: usando float left*/
/* #site-logo,
#main-menu,
#header-action-icons, */
/* hijos directos de la cabecera principal */
#main-header > * {
  float: left;
}

#header-action-icons {


  /* w30p */
  width: 30%;
  /* h100p */
  height: 100%;
  /* ml40p */
  margin-left: 40%;

}


#header-action-icons .action-icon {
  /* w50p */
  width: 45%;
  height: 100%;
  float: left;
  text-align: center;

  /* utilizamos flex para centrado vertical */

  display: flex;
  flex-direction: column;
  justify-content: center;

}


.action-icon:first-child {}
.action-icon:last-child {}
 /* elegir el segundo: */
.action-icon:nth-child(2) {}

.action-icon:first-child {
  margin-right: 10%;
}

.action-icon i {
  font-size: 20px;
}


.action-icon span {
  /* mt2 */
  margin-top: 4px;
  font-size: 12px;
}




/* ALTERNATIVA 2 : Más complejo */

#header-action-icons {
  /* posa */
  /* position: absolute; */
  /* r0 */
  /* right: 0; */
  /* t0 */
  /* top: 0; */
  /* w25p */
  /* width: 25%; */
}
